:root {
  --yellow: #efa00b;
  --blue: #1c3144;
  --shadow-yellow: #f7c364;
  --shadow-blue: #41739F;
  --btn-delete: #ce2d4f;
  --btn-save: #11a3d0;
  --white: #fff;
}

* {
  min-width: 0;
  font: inherit;
  color: var(--blue);
  font-family: "Rajdhani", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 30px;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

header > h1 {
  margin: 0;
  width: 80%;
  height: 50px;

  font-size: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

header > div {
  width: 20%;
  height: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

header > div > button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  width: 40px;
  height: 40px;
  padding: 4px;

  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  border: 0.125rem solid var(--yellow);

  color: var(--yellow);
  background-color: transparent;
  cursor: pointer;
}

header > div > button:hover {
  background-color: var(--yellow);
  border-color: var(--blue);
}
header > div > button:hover > i {
  color: var(--blue);
}

header > div > button > i {
  color: var(--yellow);
}

/* Form Create note */
.form--createNote {
  margin: 20px 0;
  padding: 20px;

  border-radius: 16px;
  background-color: var(--shadow-yellow);
}

.form--createNote > textarea {
  margin-bottom: 12px;
  padding: 20px;
  width: 100%;
  height: 150px;

  border-radius: 16px;
  overflow-y: auto;
  font-size: 1rem;
  border: none;
  resize: none;
}

.form--createNote > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.form--createNote > div > button {
  margin: 0 12px;
  padding: 10px 20px;

  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form--createNote > div > button:nth-child(1) {
  color: var(--white);
  background-color: var(--btn-delete);
}

.form--createNote > div > button:nth-child(2) {
  color: var(--white);
  background-color: var(--btn-save);
}

.form--createNote > div > button:hover {
  filter: brightness(1.1);
}

/* Note list */
#notes > article {
  margin: 20px 0;
  padding: 20px;

  border-radius: 16px;
  background-color: var(--shadow-blue);
}

#notes > article > div {
  color: var(--white);
}

#notes > article > .div--button {
  text-align: right;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#notes > article > .div--button > button {
  padding: 10px;

  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--btn-delete);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#notes > article > .div--button > button > i {
  color: var(--white);
}
